*{
    box-sizing: border-box;
}
header{
    background-color: rgb(43,62,133);
    color: white;
    font-family: serif;
    font-size: 26pt;
    padding: 16px;
    margin: 0;
}
body{
    background-color: rgb(236,237,233);
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0;
    background-color: rgb(236,237,233);
}
.nav li{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    color: black;
    padding: 14px 100px;
    font-size: 18pt;
}
.body ul{
    list-style: circle;
}
a:hover{
    background-color: rgb(85, 95, 96);
    color: white;
    padding: 0,20px,0,20px;
}
h1{
    color: rgb(85, 95, 96);
    font-family: "myriad-pro";
    font-size: 28pt;
}
h2{
    color: rgb(43,62,133);
    font-family: "myriad-pro";
    font-size: 20pt;
}
p{
    color: rgb(#404041);
    font-family: "myriad-pro";
    font-size: 14pt;
}
td{
    border: 1px solid black;
    width: 350px;
    height: 100px;;
    text-align: left;
}
table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
.english{
    display: flex;
    justify-content: flex-start;
}
.computer{
    display: flex;
    justify-content: flex-end;
}
form{
    display: block;
    font-size: 18pt;
    width:15em;
    height:450px;
    padding: 10px;
    text-align: right;
    position: relative;
    margin: 20px;
    background-color: lightgray;
    border-radius: 15px;
}
input[type=submit]{
    background-color: blue;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 18pt;
}
input[type=text]{
    width: 200px;
    height: 30px;
    padding: 10px;
    margin: 5px;
}
textarea{
    width: 300px;
    height: 200px;
}
label{
    margin:5px;
    padding: 10px;
}