*{
    box-sizing: border-box;
}
header{
    background-color: rgb(43,62,133);
    color: white;
    font-family: serif;
    padding: 10px;
    margin: 0;
}
body{
    background-color: rgb(236,237,233);
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0;
    padding: 0;
    background-color: rgb(236,237,233);
}
li{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    color: black;
    padding: 14px 100px;
    text-decoration:none;
    font-size: 18pt;
}
a:hover{
    background-color: rgb(85, 95, 96);
    color: white;
}
ul.body{
    list-style-type: circle;
}
h1{
    color: rgb(85, 95, 96);
    font-family: "myriad-pro";
    font-size: 28pt;
}
h2{
    color: rgb(43,62,133);
    font-family: "myriad-pro";
    font-size: 20pt;
}
p{
    color: rgb(#404041);
    font-family: "myriad-pro";
    font-size: 14pt;
}